<!DOCTYPE html>

<html ng-app="giphyApp">
<head>
	<title>Giphy Chatroom</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

	<link rel="stylesheet" href="styles/main.css">
</head>



<body ng-controller="MainController">

	<form ng-submit="queryGiphy(searchQuery)">
		<input placeholder="Search a giphy" ng-model="searchQuery">
		<button>Search</button>
	</form>

	<div>
		<img ng-src="{{gif.images.fixed_height.url}}" />
	</div>


	<div ng-repeat="message in messages">
		<img ng-src="{{message.images.fixed_height.url}}" />
	</div>




	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/MainController.js"></script>
	<script type="text/javascript" src="js/getDataService.js"></script>
</body>
</html>