<!DOCTYPE html>

<html ng-app="giphyApp">
<head>
	<title>Giphy Chatroom</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

	<link rel="stylesheet" href="styles/main1.css">
</head>



<body ng-controller="MainController" ux-ui>

	<div class="container">
		<form ng-submit="queryGiphy(searchQuery)" class="search-form">
			<input placeholder="Say it with a gif"
				   ng-model="searchQuery"
				   class="search-input"
				   id="input-field">
			<button class="search-btn">Spit it</button>
		</form>


		<div ng-repeat="message in messages | orderBy:'timestamp':true" class="incoming-gif">
			<div class="gif-wrapper">
				<img class="gif" ng-src="{{message.images.fixed_height.url}}" />
				<div class="searched-term">{{message.searchedQuery}}</div>
			</div>
			<div class="voting">
				<div class="vote-count">{{message.votes}}</div>
				<div class="vote arrow-up" ng-click="upVote(message.$id, message.votes)"></div>
				<div class="vote arrow-down" ng-click="downVote(message.$id, message.votes)"></div>
			</div>
		</div>
	</div>



	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/MainController1.js"></script>

	<script type="text/javascript" src="js/giphyService1.js"></script>
	<script type="text/javascript" src="js/votingService1.js"></script>

	<script type="text/javascript" src="js/directives/uxDirective.js"></script>
</body>
</html>